@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="title">Sakugen</h1>
    <div class="contan">
        <form class="form">
            <input class="form-url" placeholder="Введите ссылку для сокращения..." type="text" />
            <button class="form-button">
            </button>
        </form>
        <div class="result">
            <span class="result-title">Ваша ссылка:</span>
            <span class="result-url">dwa</span>
            <img class="qrcode"/>
        </div>
    </div>
</div>
