@using Sakugen.Dto
@{
    ViewData["Title"] = "Home Page";
}
@model RecordDto

<div>
    <h1 class="title">Sakugen</h1>
    <div class="contan">
        <form asp-controller="Home" method="post" class="form">
            <span asp-validation-for="Url" class="form-danger"></span>
            <input class="form-url" asp-for="Url" plform-dangeraceholder="Введите ссылку для сокращения..." type="text" />
            <button class="form-button">
            </button>
            @section Scripts{
                @{
                    <partial name="_ValidationScriptsPartial" />
                }
            }
        </form>
        <div class="result">
            <span class="result-title">Ваша ссылка:</span>
                @{
                if (Model != null){
                    <span class="result-url">
                        @Model.Token
                    </span>
                    <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" class="qrcode" />
                }
            }
            
        </div>
    </div>
</div>

